
.idea/
data/preprocess/.DS_Store
data/preprocess/filters/.DS_Store
src/functions/__pycache__/
*.iml
.idea/misc.xml
*.pyc
.idea/Code_Release.iml
.idea/Code_Release.iml
.idea/misc.xml
docs/build/.DS_Store
.idea/Code_Release.iml
*.pyc
*.pyc
src/helper/__pycache__/commons.cpython-310.pyc
docs/build/_static/.DS_Store
docs/.DS_Store
docs/build/.DS_Store
docs/build/html/.DS_Store
docs/build/html/_static/.DS_Store
docs/.DS_Store
docs/build/.DS_Store
.idea/Code_Release.iml
*.iml
*.xml
*.pyc
docs/build/doctrees
docs/.DS_Store

venv/
filters_temp/